@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

body {
    background-color: var(--background);
}

:root {
    --background: #f8fafc;
    --cor1: #2F80ED;
    --cor2: #f2994A;
    --cor3: #333333;
    --cor4: #1c4e80;
    --cor-gradient1: #007CB4;
    --cor-gradient2: #4FA3C6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-gradient1);
    padding: 20px;
}

header .logo img {
    width: 80px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Poppins;
    cursor: pointer;
    transition: all 0.2s ease;
}

nav a:hover {
    border-radius: 10px;
    padding: 0px 8px 0px 8px;
    color: var(--cor2);
}

.seta {
    width: 20px;
    height: 25px;
    margin-top: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item {
    position: relative;
    display: flex;
    padding-bottom: 10px;
}
.menu-item:hover .seta {
    transform: rotate(90deg);
}
.banner-hero {
    display: flex;
    position: relative;
    background: linear-gradient(160deg, var(--cor-gradient1) 20%, var(--cor-gradient2) 100%);
    height: 600px;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 10px 20px -20px black;
}

.cachorro-banner {
    position: absolute;
    left: 620px;
    margin-top: 80px;
}

.cachorro-banner img {
    width: 115%;
}

.banner-textos {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 30px;
    color: white;
    font-family: Poppins;
}

.banner-textos h2 {
    font-size: 36px;
    font-weight: 300;
}

.banner-textos h1 {
    font-size: 48px;
    font-weight: 600;
}

.banner-textos h3 {
    font-size: 20px;
    font-family: Nunito;
    font-weight: 100;
}

.servicos {
    display: flex;
    margin: 70px;
}

.servicos-container {
    display: flex;
    margin: auto;
    margin-bottom: 40px;
}

.servicos-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Nunito;
    padding: 20px;
}

.servicos-grid h1 {
    color: var(--cor2);
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.servicos-grid p {
    margin-top: 10px;
    text-align: justify;
    max-width: 400px;
    font-size: 20px;
}

.icone {
    width: 60px;
    height: 60px;
    background-color: #f1f1f1;
    border-radius: 100%;
    margin-bottom: 10px;
}

icone img {
    width: 48px !important;
    height: 48px !important;
}

.sobre {
    justify-content: center;
    margin: auto;
    display: flex;
    margin-bottom: 150px;
}

.textos-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: justify;
    font-family: Nunito;
    font-size: 20px;
}

.textos-container h1 {
    color: var(--cor2);
    margin-bottom: 10px;
}

.textos-container h4 {
    color: var(--cor3);
    font-size: 18px;
    padding-top: 100px;
    /*Alinhar o texto com o bottom do iframe*/
}

.imagem-sobre {
    padding-left: 70px;
    /*Talver aumentar o padding */
    width: 550px;
}

.imagem-sobre img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.localizacao {
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 90px;
}

.iframe-container {
    min-width: 520px;
    height: 400px;
    padding-left: 70px;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.pets-container {
    margin: auto;
    justify-content: center;
    display: flex;
    margin: 50px;
    gap: 80px;
}

.pets-container .pets-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.pets-container .pets-grid img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.pets-container .pets-grid p {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Nunito;
}

.pets-container .pets-grid p strong {
    color: var(--cor1);
    font-weight: 900;
    font-size: 17px;
}

.por-que-nos-escolher {
    position: relative;
    height: 500px;
    background: #1C4E80;
    background: linear-gradient(132deg, rgba(28, 78, 128, 1) 28%, rgba(47, 128, 237, 1) 100%);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    font-family: Nunito;
    overflow: hidden;
}

.por-que-nos-escolher .titulo {
    color: var(--cor2);
    font-size: 40px;
    margin-bottom: 50px;
}

.por-que-nos-escolher .titulo i {
    margin-right: 10px;
}

.por-que-nos-escolher .por-que-nos-escolher-container h2 {
    font-size: 26px;
    margin-bottom: 6px;
    font-weight: 600;
}

.por-que-nos-escolher .por-que-nos-escolher-container p {
    color: rgba(255, 255, 255, 0.85);
}

.por-que-nos-escolher .por-que-nos-escolher-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.por-que-nos-escolher .por-que-nos-escolher-container p {
    margin-bottom: 20px;
}

.por-que-nos-escolher .cachorro-impressionado-container {
    position: absolute;
    width: 900px;
    left: 700px;
    top: 0px;
    bottom: px;
}

.por-que-nos-escolher .cachorro-impressionado-container img {
    width: 100%;
}

.por-que-nos-escolher .botao {
    margin-top: 30px;
    transition: all 0.2s ease;
}

.por-que-nos-escolher .botao {
    color: white;
    width: fit-content;
    font-size: 24px;
    text-decoration: none;
    background-color: var(--cor2);
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Poppins;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.por-que-nos-escolher .botao:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 12px #f2984a90;
}

footer {
    background-color: var(--cor4);
    font-family: Nunito;
    padding: 20px;
    text-align: center;
    color: white;
}

.fa-brands.fa-whatsapp {
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 40px;
    color: white;
    background-color: #25D366;
    padding: 10px;
    border-radius: 1000px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.fa-brands.fa-whatsapp:hover {
    transform: translateY(-5px);
}