@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

body {
    background-color: var(--background);
}

:root {
    --background: #f8fafc;
    --cor1: #2F80ED;
    --cor2: #f2994A;
    --cor3: #333333;
    --cor4: #1c4e80;
    --cor-gradient1: #007CB4;
    --cor-gradient2: #4FA3C6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-gradient1);
    padding: 20px;
}

header .logo img {
    width: 80px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Poppins;
    cursor: pointer;
    transition: all 0.2s ease;
}

nav a:hover {
    border-radius: 10px;
    text-decoration: underline;
}

.seta {
    width: 20px;
    height: 25px;
    margin-top: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.menu-item {
    position: relative;
    display: flex;
    padding-bottom: 10px;
}

.menu-item:hover .seta {
    transform: rotate(90deg);
}

.banner-hero {
    display: flex;
    position: relative;
    background: linear-gradient(160deg, var(--cor-gradient1) 20%, var(--cor-gradient2) 100%);
    height: 600px;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 10px 20px -20px black;
}

.cachorro-banner {
    position: absolute;
    left: 620px;
    margin-top: 80px;
}

.cachorro-banner img {
    width: 115%;
}

.banner-textos {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 30px;
    color: white;
    font-family: Poppins;
}

.banner-textos h2 {
    font-size: 36px;
    font-weight: 300;
}

.banner-textos h1 {
    font-size: 48px;
    font-weight: 600;
}

.banner-textos h3 {
    font-size: 20px;
    font-family: Nunito;
    font-weight: 100;
}

.servicos {
    display: flex;
    margin: 70px;
}

.servicos-container {
    display: flex;
    margin: auto;
    margin-bottom: 40px;
}

.servicos-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Nunito;
    padding: 20px;
}

.servicos-grid h1 {
    color: var(--cor2);
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.servicos-grid p {
    margin-top: 10px;
    text-align: justify;
    max-width: 400px;
    font-size: 20px;
}

.icone {
    width: 60px;
    height: 60px;
    background-color: #f1f1f1;
    border-radius: 100%;
    margin-bottom: 10px;
}

icone img {
    width: 48px !important;
    height: 48px !important;
}

.sobre {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    margin-bottom: 150px;
}

.textos-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: justify;
    font-family: Nunito;
    font-size: 20px;
    margin: 0px 0px 0px 30px;
}

.textos-container h1 {
    color: var(--cor2);
    margin-bottom: 10px;
}

.textos-container h4 {
    color: var(--cor3);
    font-size: 18px;
    padding-top: 30px;
}

.imagem-sobre {
    padding-left: 70px;
    width: 550px;
    margin-right: 30px;
}

.imagem-sobre img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.localizacao {
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 90px;
}

.iframe-container {
    min-width: 520px;
    height: 500px;
    padding-left: 70px;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.pets-container {
    margin: auto;
    justify-content: center;
    display: flex;
    margin: 50px;
    gap: 80px;
}

.pets-container .pets-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.pets-container .pets-grid img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.pets-container .pets-grid p {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Nunito;
}

.pets-container .pets-grid p strong {
    color: var(--cor1);
    font-weight: 900;
    font-size: 17px;
}

.por-que-nos-escolher {
    position: relative;
    height: 500px;
    background: #1C4E80;
    background: linear-gradient(132deg, rgba(28, 78, 128, 1) 28%, rgba(47, 128, 237, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    font-family: Nunito;
    overflow: hidden;
    margin-bottom: 100px;
}

.por-que-nos-escolher .titulo {
    color: var(--cor2);
    font-size: 40px;
    margin-bottom: 50px;
}

.por-que-nos-escolher .titulo i {
    margin-right: 10px;
}

.por-que-nos-escolher .por-que-nos-escolher-container h2 {
    font-size: 26px;
    margin-bottom: 6px;
    font-weight: 600;
}

.por-que-nos-escolher .por-que-nos-escolher-container p {
    color: rgba(255, 255, 255, 0.85);
}

.por-que-nos-escolher .por-que-nos-escolher-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.por-que-nos-escolher .por-que-nos-escolher-container p {
    margin-bottom: 20px;
}

.por-que-nos-escolher .cachorro-impressionado-container {
    position: absolute;
    width: 900px;
    left: 700px;
    top: 0px;
    bottom: px;
}

.por-que-nos-escolher .cachorro-impressionado-container img {
    width: 100%;
}

.por-que-nos-escolher .botao {
    margin-top: 30px;
    transition: all 0.2s ease;
}

.por-que-nos-escolher .botao {
    color: white;
    width: fit-content;
    font-size: 24px;
    text-decoration: none;
    background-color: var(--cor2);
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Poppins;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.por-que-nos-escolher .botao:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 12px #f2984a90;
}

.antes-depois {
    margin: auto;
}

.antes-depois .imagens-container {
    margin: auto;
    justify-content: center;
    display: flex;
    width: 1200px;
    height: 600px;
    overflow: hidden;
    object-fit: cover;
    border: var(--cor1) solid 4px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.antes-depois .imagens-container img {
    width: 100%;
}

.antes-depois .textos {
    margin: auto;
    width: 800px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: Nunito;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.067);
}

.antes-depois .textos h3 {
    font-weight: 500;
}

.antes-depois .textos h3 strong {
    color: var(--cor1);
    font-weight: 800;
    font-size: 22px;
}

footer {
    background-color: var(--cor4);
    font-family: Nunito;
    padding: 20px;
    text-align: center;
    color: white;
}

.fa-brands.fa-whatsapp {
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 40px;
    color: white;
    background-color: #25D366;
    padding: 10px;
    border-radius: 1000px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.fa-brands.fa-whatsapp:hover {
    transform: translateY(-5px);
}

@media (max-width: 1300px) {
    .antes-depois .imagens-container {
        width: 800px;
        height: 400px;
    }

    .antes-depois .textos {
        width: 550px;
    }
}

@media(max-width: 1200px) {
    .localizacao {
        position: relative;
        justify-content: left;
        margin: 50px;
    }

    .iframe-container {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 450px;
        top: 50px;
    }

    .iframe-container iframe {
        width: 400px;
        height: 400px;
    }

    .localizacao .textos-container {
        text-align: left;
        width: 450px;
    }
}


@media (max-width: 1150px) {
    .pets-container {
        gap: 100px;
    }

    .pets-grid {
        width: 100px;
    }

    .pets-grid img {
        width: 100%;
        transition: all 0.3s ease;
    }

    .pets-grid .thor {
        margin-top: 20px;
        transform: rotate(-10deg);
    }

    .pets-grid .thor:hover {
        transform: rotate(-5deg);
    }

    .pets-grid .leon {
        z-index: 999;
        transform: translateY(-20px);
    }

    .pets-grid .leon:hover {
        transform: scale(1.0)
    }

    .pets-grid .dingo-max {
        transform: rotate(10deg);
    }

    .pets-grid .dingo-max:hover {
        transform: rotate(5deg);

    }

    .por-que-nos-escolher {
        padding-left: 50px;
    }

    .por-que-nos-escolher .titulo {
        font-size: 28px;
    }

    .por-que-nos-escolher .cachorro-impressionado-container {
        left: 500px;
    }

    .por-que-nos-escolher-container p {
        font-size: 16px;
    }

}

@media (max-width: 1100px) {
    .banner-hero .banner-textos {
        line-height: 50px;
    }

    .banner-hero .banner-textos h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .banner-hero .banner-textos h2 {
        font-size: 20px;
    }

    .banner-hero .banner-textos h3 {
        font-size: 18px;
        line-height: 20px;
    }

    .banner-hero .cachorro-banner {
        position: static;
        width: 140%;
    }

    .sobre {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .sobre .imagem-sobre {
        margin-bottom: 30px;
        padding-left: 0px;
    }

    .sobre .textos-container {
        width: 90vw;
        margin-left: 0px;
    }
}

@media (max-width: 1000px) {
    .localizacao {
        margin: auto;
        margin-top: 80px;
        margin-bottom: 40px;
        flex-direction: column;
        width: 90vw;
        justify-content: center;
        align-items: center;
    }

    .localizacao .iframe-container {
        width: 60vw;
        position: static;
        margin-top: 40px;
        align-items: center;
        justify-content: center;
    }

    .localizacao .iframe-container iframe {
        width: 90%;
    }

    .localizacao .textos-container {
        width: 100vw;
        text-align: justify;
    }
}

@media (max-width: 840px) {

    .banner-hero {
        overflow: hidden;
    }

    .banner-hero .cachorro-banner {
        position: absolute;
        width: 80%;
        left: 250px;
    }

    .banner-hero .banner-textos {
        max-width: 350px;
    }

    .banner-hero .banner-textos h2 {
        line-height: 28px;
    }

    .servicos {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .servicos-grid {
        width: 225px;
    }

    .servicos-grid h1 {
        font-size: 24px;
    }

    .servicos-grid p {
        font-size: 18px;
    }

    .sobre {
        margin-bottom: 100px;
    }

    .imagem-sobre {
        margin-right: 0px;
    }

    .por-que-nos-escolher {
        overflow: hidden;
    }

    .por-que-nos-escolher p {
        max-width: 400px;
    }

    .por-que-nos-escolher .cachorro-impressionado-container {
        left: 350px;
    }

    .antes-depois .imagens-container {
        width: 650px;
        height: 300px;
        object-fit: cover;
    }

    .antes-depois .textos {
        width: 450px;
    }

    .iframe-container {
        left: 350px;
        top: 100px;
    }

    .localizacao {
        overflow: hidden;
    }

    .iframe-container iframe {
        width: 300px;
        height: 300px;
    }

    .localizacao .textos-container {
        font-size: 18px;
        text-align: left;
        width: 350px;
    }

    .por-que-nos-escolher .cachorro-impressionado-container {
        left: 300px;
    }

    .por-que-nos-escolher-container p {
        width: 350px;
    }
}

@media (max-width: 800px) {
    .servicos {
        justify-content: center;
    }

    .servicos .servicos-container {
        flex-direction: column;
    }

    .servicos .servicos-container .servicos-grid {
        width: 100vw;
    }

    .pets-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .pets-grid p {
        width: 100vw;
    }

    .pets-grid .thor {
        transform: none;
    }

    .pets-grid .leon {
        transform: none;
    }

    .pets-grid .dingo-max {
        transform: none;
    }
}

@media (max-width: 740px) {
    .por-que-nos-escolher .cachorro-impressionado-container {
        display: none;
    }

    .antes-depois {
        margin: auto;
        flex-direction: column;
        width: 60vw;
        height: auto;
    }

    .antes-depois .imagens-container {
        flex-direction: column;
        width: 100%;
        height: auto;
        object-fit: cover;
        border: var(--cor1) solid 2px;
    }

    .antes-depois .imagens-container img {
        width: 100%;
    }

    .antes-depois .textos {
        margin: auto;
        margin-top: 10px;
        flex-direction: column;
        width: 88vw;
        height: auto;
        object-fit: cover;
        font-size: 14px;
    }

    .antes-depois .textos h3 strong {
        font-size: 16px;
    }
}

@media (max-width: 590px) {
    .banner-hero {
        justify-content: center;
    }

    .banner-hero .cachorro-banner {
        display: none;
    }

    .sobre .textos-container {
        width: 90vw;
    }

    .imagem-sobre {
        width: 90vw;
    }
}

@media (max-width: 440px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        padding: 0px;
    }

    nav ul li {
        margin-top: 14px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .banner-hero {
        height: 500px;
    }

    .banner-hero .cachorro-banner {
        display: none;
    }

    .banner-hero .banner-textos {
        width: 400px;
    }

    .banner-textos h3 {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .servicos {
        margin: auto;
        margin-bottom: 80px;
        justify-content: center;
        align-items: center;
    }

    .servicos .servicos-container {
        width: 80vw;
        margin: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicos .servicos-grid {
        margin: 5px 0px 5px 0px;
        width: 80vw;
    }

    .servicos-grid .icone {
        width: 50px;
        height: 50px;
    }

    .servicos .servicos-grid h1 {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .servicos .servicos-grid p {
        font-size: 16px;
        width: 90vw;
    }

    .sobre .imagem-sobre {
        width: 350px;
        margin: 0px;
    }

    .sobre .textos-container {
        width: 90vw;
        margin: 0px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .sobre .textos-container h1 {
        font-size: 24px;
    }

    .sobre .textos-container p {
        font-size: 16px;
    }

    .pets-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .pets-grid p {
        width: 100vw;
    }

    .pets-grid .thor {
        transform: none;
    }

    .pets-grid .leon {
        transform: none;
    }

    .pets-grid .dingo-max {
        transform: none;
    }

    .por-que-nos-escolher {
        overflow: hidden;
        padding: 0px 0px 0px 20px;
        height: auto;
        margin-bottom: 50px;
    }

    .por-que-nos-escolher h1 {
        margin-top: 30px;
        padding-bottom: 0px;
        font-size: 24px;
    }

    .por-que-nos-escolher .botao {
        margin: 30px auto;
    }

    .por-que-nos-escolher .cachorro-impressionado-container {
        margin-top: 20px;
        width: 500px;
        position: static;
        content: url("/img/cachorro-impressionado-mobile.png");
    }

    .por-que-nos-escolher-container h2 {
        font-size: 20px;
    }

    .por-que-nos-escolher-container p {
        width: 200px;
        font-size: 18px;
    }

    .antes-depois {
        margin: auto;
        flex-direction: column;
        width: 90vw;
        height: auto;
    }

    .antes-depois .imagens-container {
        flex-direction: column;
        width: 88vw;
        height: auto;
        object-fit: cover;
        border: var(--cor1) solid 2px;
    }

    .antes-depois .imagens-container img {
        width: 100%;
    }

    .antes-depois .textos {
        margin: auto;
        margin-top: 10px;
        flex-direction: column;
        width: 88vw;
        height: auto;
        object-fit: cover;
        font-size: 14px;
    }

    .antes-depois .textos h3 strong {
        font-size: 16px;
    }

    .localizacao {
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: column;
        height: auto;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .localizacao .textos-container {
        margin: 20px;
        margin-top: 30px;
        width: auto;
        text-align: justify;
        font-size: 16px;
        ;
    }

    .localizacao h4 {
        font-size: 16px;
    }

    .localizacao .iframe-container {
        display: none;
    }

    footer p {
        font-size: 12px;
    }

    .fa-brands.fa-whatsapp {
        z-index: 999;
    }
}